HOSTED_ZONE_DOMAIN_NAME="<Hosted-Zone-Domain-Name>"
SITE_DOMAIN="<App Domain>"
ALLOWED_EMAILS="<allowed gmail sso account email>"
OAUTH_CLIENT_ID="<get this from google developer console>"
JWT_SECRET="<generate a random secret here>"
AWS_PROFILE="<the profile name of your aws cli profile - if you have multiple setup>"