# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
collector.yaml
# testing
/coverage

# next.js
/.next/
/out/

/.emails/*
# production
/build
layers/*
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/cdk.context.json
.env
.env.dev
.env.backup

# local env files
.env*.local
secret-local-env.sh
secret-prod-env.sh
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# sst
.sst

# open-next
.open-next

src/common/gql
src/backend/api/index.ts
event-queue.db
_ignore_api

sst-env.d.ts
stack/local/initialize/sst-env.d.ts