body {
  /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  zoom: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
}

@page {
  margin: 0 !important;
  size: 210mm 297mm;
}

@page {
  @bottom-center {
    font-size: 20pt;
    color: red;
    position: fixed;
    bottom: 50mm;
    left: 50mm;
    content: counter(page);
  }
}

h1,
h2,
h3,
h4,
h5,
p,
div,
span {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 2mm;
}

table,
tr,
td,
thead,
tbody,
tfoot {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  height: 45mm;
}

tfoot {
  height: 40mm;
}

header {
  position: fixed;
  top: 0mm;
  width: 100%;
  z-index: 99;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

#header {
  background: #000000;
  height: 35mm;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 14mm;
  max-width: 100%;
}

#footer-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7mm;
  margin: 17mm;
  margin-bottom: 12mm;
  margin-top: 0;
  border-top: 2px solid #7f7f7f;
  padding-top: 2mm;
  font-size: 9pt;
  color: #111111;
}

.page-number {
  position: absolute;
  text-align: right;
  left: 0;
  right: 17mm;
}

#address {
  position: absolute;
  left: 21mm;
  top: 60mm;
  width: 75mm;
  height: 30mm;
}

#sender {
  font-size: 7pt;
}

#recipient {
  position: absolute;
  top: 5mm;
}

#info-box {
  position: absolute;
  right: 0mm;
  left: 126mm;
  top: 60mm;
  background: #edecf3;
  padding: 2mm;
  padding-right: 17mm;
}

.grid {
  page-break-inside: avoid;
}

#info-box .grid {
  font-size: 9pt;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 4mm;
  margin: 2.5mm;
  margin-left: 3mm;
  margin-right: 0;
}

#info-box .grid div:first-child {
  font-weight: 600;
}

#info-box .grid div:last-child {
  font-weight: 300;
}

#content {
  margin-left: 17mm;
  margin-right: 17mm;
  padding-top: calc(110mm - 45mm);
  /* padding-bottom: 4cm; */
}

#subject {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14pt;
  color: #373832;
  margin-bottom: 6mm;
}

#items {
  margin-left: -17mm;
  margin-right: -17mm;
}

#items > .grid {
  display: grid;
  grid-template-columns: auto 2.2cm 1.4cm 1.7cm;
  grid-gap: 4mm;
  margin-right: 0;
  padding: 3mm;
  padding-left: 17mm;
  padding-right: 17mm;
}

#items .grid.with-tax {
  grid-template-columns: auto 2.2cm 1.5cm 1.4cm 1.7cm;
}

/* Every 2nd, starting with second */
#items > :nth-child(2n) {
  background-color: #edecf3;
}

#items .title {
  font-weight: 800 !important;
  font-size: 12pt;
  padding-top: 0mm;
}

#items .grid > div {
  text-align: right;
}

#items > .grid :first-child {
  text-align: left;
}

#items > .grid :first-child :first-child {
  font-weight: 600;
  font-size: 10pt;
  margin-bottom: 1mm;
}

#items-end {
  padding-top: 3mm;
  padding-bottom: 3mm;
  display: grid;
  grid-template-columns: auto 6.1cm;
  gap: 10mm;
  padding-left: 17mm;
  padding-right: 17mm;
  align-items: top;
  justify-items: start;
}

#conditions {
  text-align: justify;
}

#totals {
  width: 100%;
}

#totals .grid {
  display: grid;
  grid-template-columns: auto 1.7cm;
  grid-gap: 4mm;
  margin-bottom: 2mm;
  margin-top: 2mm;
}

#totals .grid:first-child {
  margin-top: 0;
}

#totals .grid:last-child {
  margin-bottom: 0;
}

#main-total {
  font-weight: 600;
}

#totals .grid > div {
  text-align: right;
  padding: 0;
  margin: 0;
}

#aligner-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 17mm;
  width: 0;
  border-left: 1px solid red;
}

#aligner-right {
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc(210mm - 17mm);
  width: 0;
  border-left: 1px solid red;
}
